<!DOCTYPE html>
<html lang="EN">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.8.1/rxjs.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v={{ css_hash }}">
    <script type="module" src="{{ url_for('serve_js', filename='details.js') }}?v={{ js_hash  }}"></script>
    <title>Trading Details</title>
</head>
<body>
    <div class="container">
        <h1>Details</h1>
    </div>
</body>
</html>