<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v={{ css_hash }}">
    <script src="{{ url_for('static', filename='js/main.js') }}?v={{ js_hash  }}"></script>
</head>
<body>
    <h1>Welcome to the Binance subscriber!</h1>
    <h1 id="number">Loading...</h1>
    <p>{{ message }}</p>

    <h1>Currencies and Prices</h1>
    <ul>
    {% for currency, price in currencies %}
        <li>
            <button class="ticker-button" data-currency="{{ currency }}">
                <span class="ticker-name">{{ currency }}</span>
                <span class="ticker-price">{{ price }}</span>
            </button>
        </li>
    {% endfor %}
    </ul>
</body>
</html>