<!DOCTYPE html>
<html lang="EN">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.8.1/rxjs.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v={{ css_hash }}">
    <script src="{{ url_for('static', filename='js/main.js') }}?v={{ js_hash  }}"></script>
    <title>Trading</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Welcome to the Binance subscriber!</h1>
            <h1 id="number" class="number-style">Loading...</h1>
            <div id="search-container">
                <label for="search-box"></label><input id="search-box" type="text" placeholder="Search for ticker..">
                <div id="search-results"></div>
            </div>
        </div>
        <div class="right">
            <h1>Subscriptions</h1>
            <div id="added-tickers"></div>
        </div>
    </div>
</body>
</html>